.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
figure {
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
}
img {
    width: 100%;
    display: block;
}
/* --- TABLET VIEW --- */
@media screen and (min-width: 772px) {
    .container { grid-template-columns: 1fr 1fr; }
    figure { border-radius: 50%; overflow: hidden; aspect-ratio: 1/1; }
    figure:last-child { grid-column: span 2; }
}
/* --- LARGE SCREEN --- */
@media screen and (min-width: 992px) {
    figure:nth-child(3n) { grid-column: span 2; }
    figure { border-radius: 0; }
}
/* --- USER PREFERENCES --- */
@media (prefers-reduced-motion: reduce) {
    html { scroll-behavior: auto; }
}
@media (prefers-color-scheme: dark) {
    body { background-color: #121212; color: white; }
    figure { background-color: #333; color: #FFFACD; border: 2px solid black; }
}
